- torch==1.13.1+cu117
- torchvision==0.14.1+cu117
- geomloss==0.2.4
- numpy==1.23.5
- scipy==1.10.1
- tqdm==4.65.0
- matplotlib==3.6.3
- pandas==1.5.3
- pillow==9.4.0
- tensorboard==2.12.0
- scikit-image==0.20.0
- torch-metrics==0.11.4
